body{
  height:2000px;
  padding:10px;
}
section{
  width:300px;
  height:150px;
  background-color:lightgray;
  padding:10px;
  margin-bottom:20px;
}
.form{
  height:180px;
}
.one{
  width:300px;
  height:550px;

}